@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "reset";
@import "common";


:root {
  --input-size: clamp(0.9rem, 5vw, 1.3rem);
}

body {
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2em 0;
}

.main {
  height: max(100vh, 600px);
}

.link-start {
  position: absolute;
  display: block;
  inset: 0;
  margin: auto;

  color: beige;
  width: min(330px, 95vw);
  height: fit-content;
  font-size: 2rem;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  user-select: none;
  background-image: linear-gradient(#4568dc, #004e92);
}

.buttons {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;

  div {
    font-size: 1.25rem;
    padding: 0.5em;
    text-align: center;
  }

  a {
    color: #f9f2f8;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

}


//QUIZ PAGE
.questions {
  display: grid;
  row-gap: 0.8em;

  margin-inline: auto;
  font-size: 1.4rem;
  width: calc(100% - 2em);
  justify-items: center;
}

.question {
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  width: min(80%, 500px);
  margin-inline: auto;
  position: relative;
}

.statement {
  color: beige;
  width: 100%;
  text-align: center;
}

.decision {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.agree {
  font-size: 2rem;
  color: green;
  -webkit-text-stroke: 0.4px black;
}

.option-agree {
  border: 5px solid green;
  border-radius: 9999px;
}

.option-agree:hover {
  background-color: green;
  cursor: pointer;
}

.neutral > input {
  border: 5px solid grey;
  border-radius: 9999px;
  min-width: calc(1 * var(--input-size));
  min-height: calc(1 * var(--input-size));
  display: block;
}

.neutral:hover {
  background-color: gray;
  cursor: pointer;
}

.disagree {
  font-size: 2rem;
  color: red;
  -webkit-text-stroke: 0.9px black;
}

.option-disagree {
  border: 4px solid red;
  border-radius: 9999px;
}

.option-disagree:hover {
  background-color: red;
  cursor: pointer;
}

.option-agree:first-child > input {
  width: calc(3 * var(--input-size));
  height: calc(3 * var(--input-size));
  display: block;
}

.option-agree:nth-child(2) > input {
  width: calc(2.5 * var(--input-size));
  height: calc(2.5 * var(--input-size));
  display: block;
}

.option-agree:nth-child(3) > input {
  width: calc(2 * var(--input-size));
  height: calc(2 * var(--input-size));
  display: block;
}

.option-disagree:nth-child(5) > input {
  height: calc(1.5 * var(--input-size));
  width: calc(1.5 * var(--input-size));
  margin-left: 0;
  display: block;
}

.option-disagree:nth-child(6) > input {
  height: calc(2 * var(--input-size));
  width: calc(2 * var(--input-size));
  display: block;
}

.option-disagree:nth-child(7) > input {
  height: calc(2.5 * var(--input-size));
  width: calc(2.5 * var(--input-size));
  display: block;
}

.submit-button {
  color: beige;
  width: 150px;
  height: 40px;
  min-width: 150px;
  min-height: 40px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 15px;
  user-select: none;
  background-image: linear-gradient(#4568dc, #004e92);
}

.submit-button:hover {
  background-image: linear-gradient(#004e92, #4568dc);
}

.submit-button:active {
  border: none;
}

.age-region {
  display: flex;
  flex-direction: column;
  color: beige;
  width: min(100% - 2em, 400px);
}