/classes/
/target/
/src/main/webapp/secrets.txt
/src/main/webapp/style/login.css
/src/main/webapp/style/login.css.map
/src/main/webapp/style/question-management.css
/src/main/webapp/style/question-management.css.map
/src/main/webapp/style/style.css
/src/main/webapp/style/style.css.map
/src/main/webapp/style/user-management.css
/src/main/webapp/style/user-management.css.map
/src/main/webapp/style/result.css
/src/main/webapp/style/result.css.map
/src/main/webapp/META-INF/persistence.xml
