<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <!--suppress ServletWithoutMappingInspection -->
    <servlet-name>InitParamTest</servlet-name>
    <init-param>
      <param-name>email</param-name>
      <param-value>djsushi123@gmail.com</param-value>
    </init-param>
  </servlet>

  <context-param>
    <param-name>email</param-name>
    <param-value>djsushi123@gmail.com</param-value>
  </context-param>
</web-app>